In [2]:
!pip install mysql-connector-python
!pip install beautifulsoup4

Requirement already satisfied: mysql-connector-python in /opt/miniconda3/envs/hb/lib/python3.10/site-packages (8.4.0)
Requirement already satisfied: beautifulsoup4 in /opt/miniconda3/envs/hb/lib/python3.10/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/miniconda3/envs/hb/lib/python3.10/site-packages (from beautifulsoup4) (2.5)

In [1]:
import mysql.connector
from mysql.connector import Error

# 데이터베이스 연결 설정
try :
    connection = mysql.connector.connect(
        host='112.167.124.86',          # 데이터베이스 서버 주소
        user='root',      # 데이터베이스 사용자 이름
        password='password',  # 사용자 비밀번호
        database='hydro_project'   # 접근할 데이터베이스 이름
    )

    if connection.is_connected():
                print('MySQL 데이터베이스에 성공적으로 연결되었습니다.')
                cursor = connection.cursor()

except Error as e:
        print(f"MySQL 데이터베이스 에러: {e}")

MySQL 데이터베이스에 성공적으로 연결되었습니다.

# DB 제어(5E)

In [4]:
# 테이블 생성
cursor.execute(f"CREATE TABLE IF NOT EXISTS E_5 (일시 TIMESTAMP PRIMARY KEY, 전압 VARCHAR(255), 전류 VARCHAR(255), 출력_DC VARCHAR(255), 전압_RS VARCHAR(255),\
                                               전압_ST VARCHAR(255), 전압_TR VARCHAR(255), 전류_R VARCHAR(255), 전류_S VARCHAR(255), \
                                               전류_T VARCHAR(255), 출력_AC VARCHAR(255), 누적발전량 VARCHAR(255), 주파수 VARCHAR(255),\
                                               역률 VARCHAR(255), 경사 VARCHAR(255), 수평 VARCHAR(255), 모듈 VARCHAR(255), 외기 VARCHAR(255))")

connection.commit()

### 태양광 데이터 삽입

In [6]:
import time

# 현재 시간을 초로 가져오기
current_time_in_seconds = time.time()

# 출력
print(current_time_in_seconds)

1717139398.725964

In [1]:
import requests
from bs4 import BeautifulSoup
import json
from datetime import datetime

# # 현재 시간 가져오기
# current_time = datetime.now()

# # 현재 분(minute) 가져오기
# current_minute = current_time.minute
# current_sec = current_time.second

# 웹 페이지 URL
start_date = "2024-01-01"
end_date = datetime.today().strftime("%Y-%m-%d")
url = f"http://10.21.10.97/_inc/report_list.asp?sdate=2024-05-31&edate=2024-05-31&sl_id=1&equip=IV&report_type=d&type_sd=d&inv_sel=21&data_form=5&inv_name=그린에너지연구관&wt_channel=4&cb_channel=0&equip_name=인버터&_search=false&nd=1717136215283&rows=200000&page=1&sidx=dt&sord=asc"  # 실제 웹 페이지 URL로 교체해야 합니다.
url = f"http://10.21.10.97/_inc/report_list.asp?sdate=2024-05-31&edate=2024-05-31&sl_id=1&equip=IV&report_type=d&type_sd=d&inv_sel=21&data_form=5&inv_name=그린에너지연구관&wt_channel=4&cb_channel=0&equip_name=인버터&_search=false&nd=1717139278013&rows=18&page=1&sidx=dt&sord=asc"
# url = f"http://10.21.91.183/_inc/report_list.asp?sdate={start_date}&edate={end_date}&sl_id=1&equip=IV&report_type=d&type_sd=d&inv_sel=1&data_form=5&inv_name=INV-1&wt_channel=4&cb_channel=0&equip_name=%EC%9D%B8%EB%B2%84%ED%84%B0&_search=false&nd=1716532572878&rows=10&page=1&sidx=dt&sord=desc"  # 실제 웹 페이지 URL로 교체해야 합니다.

# 페이지로부터 HTML 가져오기
response = requests.get(url)
response.raise_for_status()  # 요청이 실패하면 예외를 발생시킵니다.

# HTML 파싱
soup = BeautifulSoup(response.text, 'html.parser')
json_str = str(soup)
data = json.loads(json_str)

# a = dict(data['rows'][0])["cell"]

# for i in range(len(data['rows'])) :
#     a = dict(data['rows'][i])["cell"]

#     query = "INSERT INTO E_5 (일시, 전압, 전류, 입력, 전압_RS, 전압_ST_, 전압_TR_, 전류_R, 전류_S, 전류_T, 출력, 누적발전량, 주파수, 역률, 경사, 수평, 모듈, 외기) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
#     values = (a[0], a[1], a[2], a[3], a[4], a[5], a[6], a[7], a[8], a[10], a[11], a[12], a[13], a[14], a[15], a[16], a[17])

#     cursor.execute(query, values)
#     connection.commit()

#     # print(data['rows'][i])

In [4]:
import requests
from bs4 import BeautifulSoup
import json
from datetime import datetime

# 현재 시간 가져오기
current_time = datetime.now()

# 현재 분(minute) 가져오기
current_minute = current_time.minute
current_sec = current_time.second


# 웹 페이지 URL
date = datetime.today().strftime("%Y-%m-%d")
url = f"http://10.21.91.183/_inc/report_list.asp?sdate={date}&edate={date}&sl_id=1&equip=IV&report_type=d&type_sd=d&inv_sel=1&data_form=5&inv_name=INV-1&wt_channel=4&cb_channel=0&equip_name=%EC%9D%B8%EB%B2%84%ED%84%B0&_search=false&nd=1716532572878&rows=10&page=1&sidx=dt&sord=desc"  # 실제 웹 페이지 URL로 교체해야 합니다.

# 페이지로부터 HTML 가져오기
response = requests.get(url)
response.raise_for_status()  # 요청이 실패하면 예외를 발생시킵니다.

# HTML 파싱
soup = BeautifulSoup(response.text, 'html.parser')
json_str = str(soup)
data = json.loads(json_str)

a = dict(data['rows'][0])["cell"]

query = "INSERT INTO 5E (일시, 전압, 전류, 입력, 전압_RS, 전압_ST_, 전압_TR_, 전류_R, 전류_S, 전류_T, 출력, 누적발전량, 주파수, 역률, 경사, 수평, 모듈, 외기) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
values = (a[0], a[1], a[2], a[3], a[4], a[5], a[6], a[7], a[8], a[10], a[11], a[12], a[13], a[14], a[15], a[16], a[17])

cursor.execute(query, values)
connection.commit()

이미 존재하는 데이터입니다.
이미 존재하는 데이터입니다.
이미 존재하는 데이터입니다.
이미 존재하는 데이터입니다.
error 발생

### 태양광 데이터 불러오기

In [6]:
import pandas as pd

start = '2020-12-01'

# 데이터 조회
cursor.execute(f"SELECT * FROM E_5 WHERE 일시 >= {start}")
result = cursor.fetchall()

# 열 이름 리스트
columns = [
    '일시', '전압', '전류', '출력_DC', '전압(RS)', '전압(ST)', '전압(TR)',
    '전류(R)', '전류(S)', '전류(T)', '출력_AC', '누적발전량', '주파수',
    '역률', '경사', '수평', '모듈', '외기'
]

# 데이터를 DataFrame으로 변환
df = pd.DataFrame(result, columns=columns)

# '일시' 열을 인덱스로 설정
df.set_index('일시', inplace=True)

df.info()

# # 모든 가능한 타임스탬프를 포함하는 범위 생성
# all_dates = pd.date_range(start='2020-01-01 00:00:00', end='2020-12-31 23:55:00', freq='5T')

# # 새 데이터프레임 생성 (타임스탬프 범위를 사용하여)
# full_df = pd.DataFrame(index=all_dates)

# # 원본 데이터프레임과 병합
# full_df = full_df.join(df, how='left')

# df = full_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2024-05-29 15:10:00 to 2024-05-29 16:15:00
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전압      2 non-null      object
 1   전류      2 non-null      object
 2   출력_DC   2 non-null      object
 3   전압(RS)  2 non-null      object
 4   전압(ST)  2 non-null      object
 5   전압(TR)  2 non-null      object
 6   전류(R)   2 non-null      object
 7   전류(S)   2 non-null      object
 8   전류(T)   2 non-null      object
 9   출력_AC   2 non-null      object
 10  누적발전량   2 non-null      object
 11  주파수     2 non-null      object
 12  역률      2 non-null      object
 13  경사      2 non-null      object
 14  수평      2 non-null      object
 15  모듈      2 non-null      object
 16  외기      2 non-null      object
dtypes: object(17)
memory usage: 288.0+ bytes

In [9]:
# df['출력'] = df['출력'].astype(float)

# 모든 열을 float으로 변환
columns_to_convert = ['전압', '전류', '출력_AC', '전압(RS)', '전압(ST)', '전압(TR)', 
                      '전류(R)', '전류(S)', '전류(T)', '출력_DC', '누적발전량', '주파수', 
                      '역률', '경사', '수평', '모듈', '외기']

for column in columns_to_convert:
    # 먼저, 모든 열을 문자열로 변환합니다. 그 후 콤마를 제거합니다.
    df[column] = df[column].astype(str).str.replace(',', '')
    # 변환된 문자열을 실수형으로 변환합니다.
    df[column] = pd.to_numeric(df[column], errors='coerce')

In [13]:
df

,전압,전류,출력_DC,전압(RS),전압(ST),전압(TR),전류(R),전류(S),전류(T),출력_AC,누적발전량,주파수,역률,경사,수평,모듈,외기
일시,,,,,,,,,,,,,,,,,
2024-05-29 15:10:00,601,35.5,21.620001,393.350006,394.179993,393.380005,28.0,28.400000,28.299999,19.25,381059.5,59.900002,99.900002,459.506256,420.918762,34.200001,27.599998
2024-05-29 16:15:00,610,21.0,12.840000,390.040009,390.920013,390.119995,16.5,16.700001,16.700001,11.25,381076.0,60.000000,99.900002,149.625000,140.175003,29.700001,26.400002

In [14]:
# 앞뒤 데이터의 평균 계산
forward = df.shift(-1)  # 바로 다음 행의 데이터
backward = df.shift(1)  # 바로 이전 행의 데이터
average = (forward + backward) / 2

# 평균값으로 결측치 채우기
df.fillna(average, inplace=True)

df.loc['2020-01-01 07:35']

전압          431.500
전류            2.950
입력            1.355
전압(RS)      391.320
전압(ST)      392.955
전압(TR)      391.505
전류(R)         5.300
전류(S)         5.000
전류(T)         5.400
출력            3.550
누적발전량     73052.030
주파수          59.950
역률           49.950
경사            0.000
수평            5.120
모듈           -2.500
외기           -1.000
Name: 2020-01-01 07:35:00, dtype: float64

In [36]:
df

,전압,전류,입력,전압(RS),전압(ST),전압(TR),전류(R),전류(S),전류(T),출력,누적발전량,주파수,역률,경사,수평,모듈,외기
일시,,,,,,,,,,,,,,,,,
2020-01-01 07:15:00,418.5,2.3,1.04,389.540000,391.540000,390.130000,5.3,4.9,5.4,3.51,73052.03,59.900000,0.000000,0.000000,0.000000,-3.200001,-1.200000
2020-01-01 07:20:00,452.5,2.4,1.13,390.020000,392.120000,390.460000,5.4,4.9,5.5,3.56,73052.03,60.000000,0.000000,0.000000,0.000000,-2.900000,-1.100000
2020-01-01 07:25:00,226.5,2.5,0.62,390.020000,392.020000,390.620000,5.4,4.9,5.4,3.54,73052.03,59.900000,0.000000,0.000000,0.000000,-2.799999,-1.100000
2020-01-01 07:30:00,301.5,2.7,0.86,390.370000,392.080000,390.580000,5.3,5.0,5.4,3.54,73052.03,60.000000,0.000000,0.000000,0.000000,-2.700001,-1.000000
2020-01-01 07:40:00,561.5,3.2,1.85,392.270000,393.830000,392.430000,5.3,5.0,5.4,3.56,73052.03,59.900000,99.900000,0.000000,10.240000,-2.299999,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 17:15:00,558.0,2.1,1.27,381.320000,382.730000,380.730000,5.2,4.9,5.6,3.46,140013.00,60.000000,0.000000,0.000000,0.000000,-2.900000,-1.400000
2020-12-31 17:20:00,310.5,2.3,0.73,382.540000,383.740000,381.800000,5.2,5.0,5.6,3.49,140013.00,60.000000,0.000000,0.000000,0.000000,-3.200001,-1.600000
2020-12-31 17:25:00,349.5,2.1,0.76,383.820000,385.250000,383.480000,5.2,4.9,5.5,3.46,140013.00,60.000000,0.000000,0.000000,0.000000,-3.400000,-1.500000
2020-12-31 17:35:00,232.5,2.0,0.49,382.950000,384.520000,382.540000,5.2,5.0,5.5,3.47,140013.00,59.900000,0.000000,0.000000,0.000000,-3.100000,-1.600000
2024-05-24 16:50:00,606.0,8.8,5.48,393.220001,393.880005,393.380005,7.1,7.1,7.2,4.86,379954.00,59.900002,99.900002,70.481247,67.331253,19.200001,17.900002